* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    transition: .3s;
}
:root {
    --Titles: 'Poppins', sans-serif;
    --Paragraphs: 'Open Sans', sans-serif;
    --padding-container: 80px 0;

    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);

    --place-holder: #f3f3f3;
}
body {
    font-family: var(--Paragraphs);
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* HERO HEADER */
.hero {
    min-height: 100vh;
    position: relative;
    --wave-bottom: url("../images/bg-section-top-mobile-1.svg");
}
.hero-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container: 60px 0 45px;
}
.hero-logo {
    width: 45%;
    max-width: 160px;
}
.hero-huddle {
    width: 100%;
    display: block;
}
.hero-cta {
    color: var(--Light-Pink);
    font-weight: 600;
    text-decoration: none;
    border: 2px solid;
    border-radius: 30px;
    padding: 6px 16px;
    box-shadow: 0 0 2px;
}
.hero-cta:hover {
    opacity: 0.7;

}
.hero-main {
    text-align: center;
    color: var(--Very-Dark-Cyan);
}
.hero-title {
    font-family: var(--Titles);
}
.hero-paragraph {
    margin: 16px auto;
    line-height: 1.5;
    width: 90%;
}
.cta {
    display: inline-block;
    background-color: var(--Pink);
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 30px;
    margin-top: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cta:hover,
.footer-cta:hover {
    background-color:var(--Light-Pink);

}
.hero-picture {
    margin-top: 80px;
}
.hero-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.hero-numbers {
    margin-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.hero-item {
    overflow: hidden;
}
.hero-number {
    font-size: 60px;
}
.hero-icon {
    display: block;
}
.wave {
    position: absolute;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
}
.wave-bottom {
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}
.wave-top {
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}

/* MAIN */
.section {
    background-color: var(--Very-Pale-Blue);
    --padding-container: 100px 0;
}
.section-white {
    background-color: white;
    position: relative;
    --padding-container: 210px 0;
    --wave-top: url("../images/bg-section-bottom-mobile-1.svg");
    --wave-bottom: url("../images/bg-section-top-mobile-2.svg");
}
.section-container {
    display: flex;
    flex-direction: column;
}
.section-img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
}
.section-texts {
    margin-top: 50px;
    text-align: center;
}
.subtitle {
    margin-bottom: 16px;
    font-family: var(--Titles);
}
.question {
    position: relative;
    text-align: center;
    --wave-top: url("../images/bg-section-bottom-mobile-2.svg");
    --wave-bottom: url("../images/bg-footer-top-mobile.svg");
    --padding-container: 190px 0 210px;
}

/* FOOTER */
.footer {
    background-color: var(--Very-Dark-Cyan);
    color: white;
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-title {
    text-transform: uppercase;
}
.footer-paragraph {
    line-height: 1.8;
    width: 100%;
    font-size: 12px;
    margin: 16px 0 40px;
}
.footer-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.footer-input {
    font-size: 16px;
    font-family: var(--Paragraphs);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 13px 6px;
    margin-bottom: 20px;
}
.footer-cta {
    font-size: 16px;
    font-family: var(--Paragraphs);
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--Pink);
    color: white;
    padding: 13px 40px;
    font-weight: 600;
    width: 40%;
    align-self: flex-end;
}

.footer-logo {
    width: 50%;
}
.footer-contact {
    line-height: 50px;
}
.footer-contact::after {
    content: "Phone: +1-543-123-4567";
    margin-left: 10px;
}
.footer-contact-email::after {
    content: "example@huddle.com";
}
.footer-social {
    display: flex;
    gap: 16px;
    margin-top: 30px;
}
.footer-link img {
    text-decoration: none;
    width: 30px;
}
.footer-icon {
    width: 100%;
    display: block;
}


/* MEDIA QUERIES */
    @media (min-width: 768px) {
        .hero-logo {
            width: 65%;
            max-width: 200px;
        }
        .hero {
            --wave-bottom: url("../images/bg-section-top-desktop-1.svg");
        }
        .hero-title {
            font-size: 38px;
        }
        .hero-paragraph {
            width: 40%;
            margin: 30px auto;
        }
        .cta {
            padding: 16px 55px;
        }
        .hero-img {
            max-width: 820px;
        }
        .hero-numbers {
            flex-direction: row;
            justify-content: space-around;
        }
        h3 {
            font-size: 30px;
        }
        p {
            font-size: 13px;
        }
        .section-white {
            --wave-top: url("../images/bg-section-bottom-desktop-1.svg");
            --wave-bottom: url("../images/bg-section-top-desktop-2.svg");
        }
        .section-container {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        .section-container-inverse {
            flex-direction: row;
        }
        .section-img {
            width: 80%;
            max-width: 550px;
        }
        .section-texts {
            width: 35%;
            margin: 0;
            text-align: start;
        }
        .question {
            --wave-top: url("../images/bg-section-bottom-desktop-2.svg");
            --wave-bottom: url("../images/bg-footer-top-desktop.svg");
        }
        .footer-container {
            --padding-container: 110px 50px;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            gap: 3rem;
        }
        .footer-newsletter {
            width: 80%;
            max-width: 450px;
            order: 1;
        }
        .footer-paragraph {
            width: 70%;
            font-size: 12px;
        }
        .footer-form {
            flex-direction: row;
            gap: 2rem;
        }
        .footer-input {
            width: 100%;
            margin-bottom: 0px;
        }
        .footer-input {
            padding: 5px 40px;
        }
        .footer-cta {
            font-size: 14px;
        }
        .footer-content {
            width: 50%;
            max-width: 300px;
        }
    }